@use 'sass:math';

 #progress-bar, #rename-label-button {
    display: none;
}


.container {
    min-width: 1000px;
}

:root {
    --logo-blk-width: 472px;
    --header-height: 83px;
    --nav-width: 72px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: var(--header-height);
    display: flex;
    flex-shrink: 0;

    &__main {
        display: none;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px 20px;

        .wrapper.wrapper:has(#annotationPage.active-page) & {
            display: flex;
        }

        &-side {
            width: 25%;
            display: flex;
            align-items: center;
            &:first-child {
                margin-right: auto;
            }

            &:last-child {
                margin-left: auto;
            }
        }
    }

    &__title {
        color: var(--text-text-primary1);
        font-size: 20px;
        max-width: 800px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }  

    &__middle {
        min-width: 560px;
        display: flex;
        align-items: center;

        .circle-arrow {
            &--prev {
                margin-right: auto;
            }

            &--next {
                margin-left: auto;
            }
        }
    }

    .arrow-link--prev {
        margin-right: auto;
    }
}


.logo-blk {
    font-size: 24px;
    background-color: var(--blue-blue500);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--logo-blk-width);

    &__text {
        font-size: 1em;
        color: #fff;
        font-weight: 800;
    }

    &__img {
        width: math.div(78, 24) * 1em ;
        margin-right: math.div(-2, 24) * 1em ;
        margin-top: math.div(-4, 24) * 1em ;
    }
}


.main {
    flex-grow: 1;
    display: flex;
    background: var(--blue-blue100);
}


.side-bar {

    --side-padding: 22px;

    display: flex;
    height: 100%;
    max-width: var(--logo-blk-width);

    .wrapper.wrapper:has(#annotationPage.active-page) & {
        flex: 1;
    }

    &__main {
        width: var(--nav-width);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__sub {
        width: calc(100% -  var(--nav-width));
        background-color: #fff;
        margin-left: 1px;
        padding-top: 20px;
        display: none;
        flex-direction: column;
        height: calc(100vh - var(--header-height));

        .wrapper:has(#annotationPage.active-page)  &{
            display: flex;
        }
    }


    &__title {
        color: var(--text-text-page-heading);
        font-size: 24px;
        font-weight: 600;
        padding-inline: var(--side-padding);
    }

    &__sub-title {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-text-primary1);
    }
    

    &__blk  {
        padding-block: 20px;

        &:has(+ &) {
            border-bottom: 1px solid #F7F8F9;
        }

        .slider-blk {
            margin-inline: var(--side-padding);
        }
        .toggle-blk {
            margin-inline: var(--side-padding);
        }
        .radio-button-gp-blk {
            margin-inline: 12px;
        }

        .input-blk {
            &__label {
                margin-inline: var(--side-padding);
            }

            &__wrap {
                margin-inline: 12px;
            }
        }

        .toggle-input-blk {
            margin-inline: var(--side-padding);

            .input-blk__wrap {
                margin-inline: -10px;
            }
        }
        
    }

    &__bottom {
        flex: 1;
        overflow: auto;
    }
}

.label-container {
    .label-blk {
            padding-inline: var(--side-padding);
        }
}


.nav-list {


    list-style: none;
    padding: 0;
    margin: 0;

    .arrow-tooltip {
        --tool-height: 30px;
        position: absolute;
        height: 30px;
        line-height: 1;
        display: flex;
        align-items: center;
        border: 1px solid var(--text-text-primary2);
        padding: 2px 18px;
        font-size: 13px;
        background-color: var(--surface-surface-primary3);
        top: calc(50% - var(--tool-height)/2);
        left: calc(100% - 10px) ;
        z-index: 12;
        transition: .2s all;
        opacity: 0;
        visibility: hidden;
        transform: translate(-10px, 0);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        pointer-events: none;
    }


    &__item {
        position: relative;

        .normal-dropdown {
            position: absolute;
            left: calc(100% + 20px);
            top: 0;
            width: max-content;
            display: none;
        }

       
    }

    &__button {
        width: var(--nav-width);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--icon-icon-primary1);
        background-color: #fff;
        font-size: 32px;

        * {
            pointer-events: none;
        }

        &:hover {
            background-color: #fafafa;
             .arrow-tooltip {
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
            }
        }

       
    }

    &__item &__button.active {
        color: var(--icon-icon-secondary1);
        background: var(--surface-surface-primary1);
    }
    
    &__tip {
        

    }
}

.main-section {

    --gap: 14px;
    --padding: 40px;

    flex-grow: 1;
    position: relative;
    padding: var(--gap) var(--gap) 0;
    display: flex;


    &__content {
        flex-grow: 1;
        overflow: auto
    }

    &__inner , &__side {
        
        background-color: #fff;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__inner {
        width: 100%;
        padding: var(--padding) var(--padding) 0;
        height: calc(100vh - var(--padding) - var(--gap) - var(--header-height));
    }

    &__side {
        margin-left: var(--gap);
        width: 178px;
        height: calc(100vh - 24px - var(--gap) - var(--header-height));
    }

    &__title {
        color: var(--text-text-page-heading);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 34px;
    }

    &__bottom {
        box-shadow: 0px -5px 14px -7px rgba(0,0,0,0.13);;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: flex-end;
        padding: 25px 20px;
    }

    &__inner &__bottom {
        margin-inline: calc(-1 * var(--padding));
    }

    &__side &__bottom {
        padding: 24px 10px;
        gap: 12px;
        .button {
            --width: 100%;
        }
    }

    &__side {
        padding: 20px 0px 0;
        overflow: hidden;
        position: relative;
    }
}


.canvas-container {

    position: absolute;
    inset: var(--gap) var(--gap) 0;
    overflow: hidden;

    .canvas {
        width: 100%;
        height: 100%;
    }
}

.label-dropdown-menu {
    position: absolute;
    display: none;
}

#search-button {
    display: none;
}

.page {
    &:not(.active-page)  {
        display: none;
    }
}

.setting-container {
    padding: 40px;
    background-color: #fff;
    flex-grow: 1;
}

#edit-btn-blk {
    display: none;
}

#confirm-button.hidden {
    display: block !important;
}

html:has(#confirm-button:not(.hidden)) #default-bar {
    .float-bar__inner {
        opacity: 0;
        transform: translateY(0);
        visibility: hidden;
    }
}

#actionContainer-bar:has(#confirm-button.hidden) .float-bar__inner {
    opacity: 0;
    transform: translateY(0);
    visibility: hidden;
}

