.contentView {
    display: flex;
    flex-direction: row;
    background-color: #faffff;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.modeView {
    width: 10%;
    max-width: 10%;
    height: 100%;
    max-height: 100%;
}

.sliderView {
    width: 5%;
    max-width: 5%;
    height: 100%;
    max-height: 100%;
}

.middleContentView {
    width: 70%;
    max-width: 70%;
    height: 100%;
    max-height: 100%;
}

.labelView {
    width: 15%;
    max-width: 15%;
    height: 100%;
    max-height: 100%;
}
