.middleContentView {
    border: 1px solid #f8f8f8;
    display: flex;
    flex-direction: column;
}

.middleContentView .info {
    height: 5%;
    max-height: 5%;
    width: 100%;
    max-height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #f8f8f8;
}

.middleContentView .progress-container {
    width: 100%;
    height: 2%;
    position: relative;
    background-color: #def6fe;
}

.middleContentView .progressbar {
    background-color: #00a9ff;
    height: 100%;
    position: absolute;
    line-height: inherit;
    margin: 0;
}

.middleContentView .round-xlarge {
    border-radius: 16px !important;
}

.middleContentView .canvas {
    border: 1px solid #f8f8f8;
    height: 93%;
    max-height: 93%;
    width: 100%;
    max-width: 100%;
}
