.progressbar-view {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 3%;
    max-height: 3%;
}

.progress-text {
    width: 10%;
    font-size: 15px;
    align-items: center;
    margin-right: 10px;
}

.progress-container {
    width: 100%;
    height: 1em;
    position: relative;
    background-color: #f1f1f1;
}

.progressbar {
    background-color: #757575;
    height: 100%;
    position: absolute;
    line-height: inherit;
}

.round-xlarge {
    border-radius: 16px !important;
}