.searchTerm {
    width: 30%;
    max-width: 30%;
    border: 1px solid black;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    margin: 0 auto;
    padding: 0px 0px;
    margin-right: 10px;
    font-size: 25px;
}

.searchTerm:focus {
    color: black;
}

.buttonContainer {
    max-height: 100%; /* Set the height of the scrollable area */
    height: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Disables vertical scrolling */
    padding: 10px; /* Optional: Add some padding */
    width: 100%;
    display: flex;
    flex-direction: row;
}
