/* Apply 100% height to html and body to ensure full-screen layout */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Main container to take 95% of the screen height */
body {
    height: 98%;
    display: flex;
    flex-direction: column;
}

.scene-info {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 3%;
    max-height: 3%;
}

.progressbar-view {
    width: 70%;
    max-width: 70%;
}

.annotator-view {
    width: 70%;
    max-width: 70%;
}

.button_row {
    width: 70%;
    height: 7%;
    max-height: 7%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
    box-sizing: border-box;
    margin-top: 30px;
}

.button {
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.messageBoxContainer {
    width: 50%;
    height: 3%;
    max-height: 3%;
    margin: auto;
    margin-top: 5px;
}

.messageBox {
    width: 100%;
    height: 100%;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
}
