.defualt-img {
    max-width: 50%;
    max-height: 80%;
    height: auto;
    opacity: 0.1;
}

.default-div {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
