.main-view {
    display: flex;
    flex-direction: row;
}

.mask-mode-view {
    /* width: 10%; */
    max-width: 10%;
    /* height: 100%; */
    max-height: 100%;
}

.mask-opacity-view {
    width: 8%;
    max-width: 10%;
    /* height: 100%; */
    max-height: 100%;
}

.canvas {
    max-width: 65%;
    max-height: 100%;
    width: 65%;
    height: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.statistic-view {
    width: 20%;
    max-width: 20%;
    /* height: 100%; */
    max-height: 100%;
}
