.setting-container {
    width: 70%;
    margin: 0 auto;
}

.setting-container .save-button {
    display: block;
    margin: 0 auto 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.settings-group {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.group-header {
    background-color: #a0e9ff;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.settings-group p {
    color: #666;
    padding: 15px;
}
.setting-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
}
.setting-item label {
    margin-bottom: 5px;
    font-weight: bold;
}
.setting-item input[type="range"],
.setting-item input[type="text"],
.setting-item select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}
.setting-description {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}
