.statistic-view {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
    margin-left: 5px;
}

.statistic-title {
    width: 100%;
    max-width: 100%;
    height: 5%;
    max-height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: DejaVu Sans Mono, monospace;
    border-bottom: 1px solid gray;
    margin: 0;
}

.statistic-box-container {
    width: 100%;
    max-width: 100%;
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

.statistic-box {
    width: 100%;
    max-width: 100%;
    height: 10%;
    max-height: 10%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    margin: 0;
}

.statistic-box .info {
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 50%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: DejaVu Sans Mono, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic-box .statistic-process-bar-container {
    width: 95%;
    max-width: 95%;
    height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.statistic-box .counting {
    width: 10%;
    max-width: 10%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-family: DejaVu Sans Mono, monospace;
}
